.hero {
  padding: 5rem 0;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 1080px;
  padding: 5rem 0;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  grid-gap: 2rem;
}

.aboutThisProjectGrid {
  composes: grid;
  grid-template-columns: 3fr 1.1fr;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    display: block;
  }
}

.examples {
  width: 100%;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
}

@media (max-width: 600px) {
  .examples {
    width: 100%;
    display: block;
  }
}

.examplePlacement {
  padding: 1.5rem;
  width: 100%;
}

.examplePlacement > img {
  width: 100%;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.section {
  composes: card;
}

.section {
  composes: card;
}

.section p {
  margin-bottom: 1rem;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}

.reel {
  width: 100%;
}


.callForAction {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  background: #0070f3;
  border: none;
  color: #fff;
  text-decoration: none;
  align-self: center;
}